<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지 리스트</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnReg").on("click", function () {
                location.href = "/notice/noticeReg"; // 글 작성하는 창으로 이동
            })
        })

        //상세보기 이동
        function doDetail(seq) {
            location.href = "/notice/noticeInfo?nSeq=" + seq;
        }

    </script>
</head>
<body>
<div>
<h2>공지사항
    <button id="btnReg" type="button" style="display: inline-block; margin: 22px 5px 0; float: right;">작성하기</button>
</h2>
</div>
<hr/>
<br/>
<div class="divTable minimalistBlack" style="text-align: center">
    <div class="divTableHeading">
        <div class="divTableRow" style="text-align: center">
            <div class="divTableHead" style="text-align: center">순번</div>
            <div class="divTableHead" style="width: 35%; text-align: center">제목</div>
            <div class="divTableHead" style="text-align: center">조회수</div>
            <div class="divTableHead" style="text-align: center">등록자</div>
            <div class="divTableHead" style="text-align: center">등록일</div>
        </div>
    </div>
    <div class="divTableBody">

        <div class="divTableRow" th:each="dto:${rList}">
            <!--공지글이라면, '공지' 표시 +)글자 강조 효과 추가 -->
            <div class="divTableCell" th:if="${dto.notice_yn=='Y'}"><strong>공지</strong></div>
            <!--공지글이 아니라면, 글번호 보여주기-->
            <div class="divTableCell" th:unless="${dto.notice_yn=='Y'}">[[${dto.notice_seq}]]</div>
            <div class="divTableCell"
                 th:attr="onclick='doDetail(\'' + ${dto.notice_seq} + '\')'"
                 onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline'"
                 onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'">[[${dto.title}]]
            </div>
            <div class="divTableCell">[[${dto.read_cnt}]]
            </div>
            <div class="divTableCell">[[${dto.user_id}]]
            </div>
            <div class="divTableCell">[[${dto.reg_dt}]]
            </div>
        </div>
    </div>
</div>
<div>
    <br>
</div>
</body>
</html>
